body {
  background: white;
  background-image: radial-gradient(
    rgba(195, 195, 195, 0.952) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
  background-position: -19px -19px;
}

canvas {
  width: 30em;
  height: 30em;
  margin: 0 auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.894);
  border: 1px dashed black;
  padding: 10px;
}

.prompt {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.894);
  border-radius: 10px;
  border: 1px dashed rgb(0, 0, 0);
  padding: 20px;
}

.correct {
  font-family: var(--font-interface);
  font-size: 1.2rem;
  background-color: rgba(56, 255, 56, 0.1);
  color: rgb(0, 103, 0);
  border-radius: 10px;
  border: 1px dashed rgb(17, 173, 0);
  padding: 10px 40px;
}

.incorrect {
  font-family: var(--font-interface);
  font-size: 1.2rem;
  font-size: larger;
  background-color: rgba(255, 56, 56, 0.1);
  color: rgb(232, 0, 0);
  border-radius: 10px;
  border: 1px dashed rgb(216, 0, 0);
  padding: 10px 40px;
}

.response-container {
  font-family: var(--font-interface);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.894);
  border-radius: 10px;
  border: 1px dashed rgb(0, 0, 0);
  padding: 20px;
}

.response-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.response {
  font-size: larger;
  font-weight: bold;
}